.text {
    font-family: 'Courier Prime', monospace;
}

.title {
    font-family: 'Mukta', sans-serif;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.medicalsection {
    text-align: center;
}

.technologysection {
    text-align: center;
    border-style: solid;
}

.infosection {
    text-align: center;
    border-style: solid;
}

.col-md-3 {
    padding: 30px;
}

a-scene {
    height: 300px;
    width: 300px;
    margin: 80px;
    text-align: center;
  }

  .contactsection {
    border-style: solid;
}

.secondcopyrightsection {
    border-style: solid;
    background-color: #191970;
    color: white;
}

.fontsize {
    font-size: 30px;
}

.text {
    font-family: 'Josefin Sans', sans-serif;
}

.title {
    font-family: 'Mukta', sans-serif;
}

.center {
    width: 100%;
    text-align: center;
}

.horizontalspacing {
    margin-bottom: 70px;
}

.verticalspacing {
    width: 400px;
}

.spacing {
    margin-top: 70px;
}

.otherspacing {
    margin-bottom: 30px;
}

.size {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.myEmbeddedScene {
    margin-right: 10px;
}

.gallerysection {
    border-style: solid;
    margin-right: 150px;
    margin-left: 150px;
}

.navbarsection {
    border-style: solid;
}

.darkblue {
    background-color: #248AB3;
}

.lightblue {
    background-color: #4CCDFF;
}

.lighterblue {
    background-color: #66D4FF;
}

.lightbrown {
    background-color: #FFAA4D;
}

.darkbrown {
    background-color: #B36612;
}

.lightestblue {
    background-color: #ADD8E6
}