.text {
    font-family: 'Josefin Sans', sans-serif;
}

.title {
    font-family: 'Mukta', sans-serif;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.medicalsection {
    text-align: center;
}

.technologysection {
    text-align: center;
}