.text {
    font-family: 'Josefin Sans', sans-serif;
}

.title {
    font-family: 'Mukta', sans-serif;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.medicalsection {
    text-align: center;
}

.technologysection {
    text-align: center;
}

.col-md-3 {
    margin: 80px;
}

a-scene {
    height: 500px;
    width: 800px;
    margin: 80px;
  }

  .embed {

  }